:root {
    --theme-color: #d25151;
    --header-color: #f78282;
    --header-bg-color: rgba(250,196,196,50%);
    --header-bg-color-even: rgba(250,196,196,40%);
    --logo-color: #555555;
    --link-color: #d25151;
    --link-hover-color: #a95454;
    --h1-color: #e14545;
    --h2-color: #f78282;
    --side-h-color: #fac4c4;
    --side-back: #fdebeb;
    /*--bg-gradation: linear-gradient(135deg, #fac4c4 0%, #ea6060 100%) fixed;*/
    --bg-gradation: linear-gradient(135deg, #ffffff 0%, #fac4c4 100%) fixed;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: var(--bg-gradation);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    max-width: 280px;
}

textarea{
    max-width: 500px;
    width: 500px;
}

.form-long {
    max-width: 500px;
    width: 500px;
}

.form-long2 {
    max-width: 1000px;
    width: 1000px;
}

@media (min-width: 1686px) {
    .container {
        max-width: 1686px;
    }
}
@media (min-width: 1300px) {
    .container {
        min-width: 1300px;
    }

    .td-summary {
        width: 600px;
        height: 20px;
        overflow: hidden;
        display: block;
    }
}
@media (max-width: 975px) {
    .container {
        min-width: 975px;
    }
    .td-summary{
        width:290px;
        height:50px;
        overflow:hidden;
        display:block;
    }
}

.p-category{
    margin:0 0 3px;
}

.home-h4-project {
    font-weight:bold;
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px 8px 8px 25px;
    background-color: var(--header-bg-color);
    border-top-left-radius: 25px 25px;
    border-top-right-radius: 25px 25px;
    width: 500px;
}
a.home-a-project:link {
    color: var(--header-color);
}
a.home-a-project:visited {
    color: var(--header-color);
}
a.home-a-project:hover {
    color: var(--link-hover-color);
}
a.home-a-project:active {
    color: var(--header-color);
}


.home-tr-header {
    background-color: var(--header-bg-color);
}
tr:nth-child(even) { /* 偶数番目の指定*/
    background-color: var(--header-bg-color-even);
}

th.home-th {
    border-top: 0px solid #ffffff;
    color: var(--header-color);
}
td{
    background-color:rgba(300,300,300,40%);
}

a:link {
    color: var(--link-color);
}
a:visited {
    color: var(--link-color);
}
a:hover {
    color: var(--link-hover-color);
}
a:active {
    color: var(--link-color);
}